RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^aboutus$ AboutUs/Aboutus.html [L]
RewriteRule ^helpandsupport$ helpandsupport/helpandsupport.html [L]
RewriteRule ^PsychometricTest$ Psychometric_Tests/psy.html [L]