RewriteEngine On

RewriteRule ^helpandsupport/?$ helpandsupport/helpandsupport.html [L]
RewriteRule ^aboutus/?$ AboutUs/Aboutus.html [L]
RewriteRule ^PsychometricTest/?$ Psychometric_Tests/psy.html [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
