*{
    margin: 0;
    padding: 0;
}
main{
    margin-top: 12vh;
    font-family: "Mada", sans-serif;
    overflow-x: hidden;
}
body{
    overflow-x: hidden;
    background-color: #f4f9fd;
}
.banner{
    height: 70vh;
    width: 100vw;
    background-color: #D7EEFB;
    display: flex;
    align-items: center;
}
.bannertext{
    width: 40vw;
    padding-left: 6vw;
}
.bhead{
    font-family: "Baloo Bhaijaan 2", sans-serif;
    font-size: 2.9em;
    font-weight: 700;
}
.btext{
    font-family: "Abel", sans-serif;
    line-height: 30px;
    font-size: 1.4em;
}
.introtext{
    margin: 1.5vw;
    font-size: 1.3em;
}
.streamintro{
    text-align: center;
    font-family: "Mada", sans-serif;
    font-size: 3.2em;
    font-weight: 600;
}
.streamsel{
    display: flex;
    justify-content: space-between;
    margin: 4vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
}
.science,.commerce,.humanities{
    width: 25vw;
    border-radius: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#f9fbfd;
    border: 1px solid #cfe0f5
}
.sanim{
    width: 10vw;
    padding-top: 1vh;
    height: 25vh;
}
.stop,.ctop,.htop{
    font-size: 2.5em;
    font-weight: 600;
    margin: 2.5%;
    color: #3b5998;
}
.stext,.ctext,.htext{
    display: flex;
    font-size: 1.4em;
    width: 95%;
    color: #5c6b82;
}
.exploreintro{
    text-align: center;
    font-family: "Mada", sans-serif;
    font-size: 2.2em;
    font-weight: 600;
    padding-top: 5vh;
}
.explorebut{
    display: flex;
    justify-content: space-between;
    margin: 2vw;
}
.exi{
    width: 20vw;
    height: 20vh;
    padding: 2.5vw;
}
.exi1{
    width: 30vw;
    height: 25vh;
    padding-top: 5vh;
}
.ex4c{
    padding-top: 5vh;
}
.ex1,.ex2,.ex3,.ex4{
    display: flex;
    width: 22vw;
    font-family: "Mada", sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    flex-direction: column;
    font-size: 1.3em;
}
.s1,.s2,.c1,.c2,.h1{
    width: 90%;
    height: 10vh;
    background-color:#539fe8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3%;
    border-radius: 15px;
    color: white;
    font-size: 1.5em;
    font-family: "Baloo Bhaijaan 2", sans-serif;
    font-weight: 600;
    text-decoration: none;
}
.h1{
    font-size: 1.9em;
    margin-top: 20%;
}
.htext{
    margin-top: 5%;
}
.ex1m,.ex2m{
    display: flex;
    gap: 2vw;
}
@media screen and (min-width: 0px) and (max-width: 700px){
    .banner{
        height: 45vh;
    }
    .anim{
        display: none;
    }
    .bhead{
        font-size: 1.5em;
        line-height: 30px;
        margin-bottom: 2vh;
    }
    .bannertext{
        width: 90%;
    }
    .btext{
        font-size: 1em;
        line-height: 20px;
    }
    .introtext{
        margin: 4%;
        font-size: 1em;
        line-height: 25px;
    }
    .streamintro{
        font-size: 2em;
    }
    .streamsel{
        flex-direction: column;
        align-items: center;
    }
    .science,.commerce,.humanities{
        width: 80%;
        margin: 5%;
    }
    .sanim{
        width: 70%;
    }
    .stop,.ctop,.htop{
        font-size: 1.5em;
    }
    .stext,.ctext,.htext{
        font-size: 1em;
    }
    .s1,.s2,.c1,.c2,.h1{
        width: 85%;
        font-size: 1em;
        height: 5vh;
        margin: 5%;
        border-radius: 10px;
    }
    .s1,.c1{
        margin-bottom: 0;
    }
    .explore{
        margin-bottom: 0;
        margin-top: 0;
    }
    .exploreintro{
        font-size: 1.5em;
    }
    .ex1,.ex2,.ex3,.ex4{
        font-size: 1em;
        margin: 2%;
        height: 30vh;
    }
    .exi{
        width: 100%;
        height: 60%;
    }
    .exi1{
        width: 100%;
        height: 40%;
    }
    .ex1m,.ex2m{
        display: flex;
        flex-direction: column;
        gap: 0vh;
    }
    .explorebut{
        justify-content: space-around;
        margin-bottom: 5vh;
    }
    .explore{
        margin-top: -5%;
    }
    .ex4c{
        padding-top: 1vh;
    }
}
@media screen and (min-width: 700px) and (max-width: 1000px){
    main{
        margin-top: 10vh;
    }
    .anim{
        display: none;
    }
    .bannertext{
        width: 100%;
    }
    .banner{
        height: 30vh;
    }
    .bhead{
        line-height: 50px;
        margin-bottom: 3%;
    }
    .science,.commerce,.humanities{
        width: 30vw;
    }
    .streamsel{
        width: 95%;
        margin: 2.5%;
    }
    .sanim{
        width: 24vw;
        margin-top: -10%;
        margin-bottom: -20%;
    }
    .stop,.ctop,.htop{
        font-size: 2em;
    }
    .s1,.s2,.c1,.c2,.h1{
        height: 4vh;
        width: 95%;
        font-size: 1em;
    }
    .exi1{
        width: 20vw;
        height: 15vh;
        padding-top: 5vh;
    }
    .ex1c,.ex2c,.ex3c,.ex4c{
        margin-top: -25%;
    }
}