* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg, #0d0622, #000622);
}

.container {
    position: relative;
    width: 500px;
    height: 550px;
    background: #fff;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin: 20px 0;
    color: #333;
}

.form-box {
    width: 100%;
    position: relative;
}

.button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    font-weight: bold;
}

#btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    height: 100%;
    background: #ff6123;
    border-radius: 30px;
    transition: 0.5s;
}

.input-group {
    position: absolute;
    width: 100%;
    transition: 0.5s;
}

.input-field {
    width: 80%;
    padding: 10px 0;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    font-size: 16px;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: #ff6123;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 16px;
    color: #fff;
}
