*{
    margin: 0;
    padding: 0;
}
main{
    font-family: 'Segoe UI', sans-serif;
    margin-top: 12vh;
    overflow-x: hidden;
}
.headtext{
    text-align: center;
    font-size: 3rem;
    color: #05445E;
    padding: 2.5%;
}
.hi{
    display: none;
}
.imgdata{
    height: auto;
    display: flex;
    width: 100vw;
    flex-direction: row-reverse;
}
.data{
    height: auto;
    width: 100%;
    background-image: url(../images/banner2bg.svg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 3%;
}
.datahead{
    font-family: "mada",sans-serif;
    color: white;
    font-size: 2rem;
}
.datadata{
    font-family: "mada",sans-serif;
    color: white;
    letter-spacing: 2px;
    text-align: justify;
    line-height: 30px;
    font-size: 1.3rem;
    width: 90%;
    font-weight: 600;
}
.texta{
    font-family: "mada",sans-serif;
}
.image2{
    overflow: hidden;
    display: none;
}
.animtext,.animtext2,.animtext3{
    display: flex;
    align-items:flex-end;
    height: auto;
    margin-bottom: 2vh;
    margin-top: 2vh;
}
.fullanim{
    display: flex;
    flex-direction: column;
}
.anim{
    width: 56vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutimg{
    width: 30vw;
}
.texta{
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin-left: 5vw;
    margin-right: 5vw;
}
.text2{
    text-align: center;
    font-weight: 600;
    font-size: 1.3rem;
}
.text3{
    line-height: 30px;
    padding: 4.5%;
    font-size: 1.2rem;
}
.text1{
    font-size: 2.2rem;
    font-weight: 700;
    text-align: center;
}
dotlottie-wc{
    overflow-y: hidden;
    width: 50vw;
}
.text3 li{
    margin-bottom: 5%;
}
@media screen and (min-width: 0px) and (max-width: 700px){
    .headtext{
        font-size: 1.5rem;
    }
    .data{
        height: auto;
        background-image: url(../images/banner1.png);
        font-weight: 600;
    }
    .datahead{
        font-size: 1.2rem;
        font-weight: 800;
    }
    .datadata{
        font-size: 0.8rem;
        line-height: 20px;
        letter-spacing: 1px;
        text-align: justify;
        font-weight: 500;
    }
    .imgdata{
        flex-direction: column;
        height: auto;
    }
    .image2{
        display: none;
    }
    .animtext,.animtext3{
        flex-direction: column;
        margin: 3%;
        background-color:#f9fbfd;
        border: 1px solid #cfe0f5;
        padding: 1%;
    }
    .animtext2{
        flex-direction: column-reverse;
        margin: 3%;
        background-color:#f9fbfd;
        border: 1px solid #cfe0f5;
        padding: 1%;
    }
    .text1{
        font-size: 1.3rem;
        margin-bottom: 1vh;
        color: #3b5998;
    }
    .text2{
        font-size: 1.1rem;
        color: #3b5998;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }
    .text3{
        font-size: 0.95rem;
        line-height: 20px;
        padding-left: 8%;
    }
    .texta{
        width: 100%;
        margin-right: 0%;
    }
    .anim{
        width: 100%;
    }
    .anim1{
        width: 200px;
        height: 200px;
    }
    .anim2{
        height: 400px;
        margin-top: -30%;
        margin-bottom: -35%;
    }
    .anim3{
        margin-bottom:5%
    }
    .logobottom1{
        /* margin: 10px; */
        margin-left: 23vw;
    }
    .blogoimg{
        scale: 1.5;
        margin-top: 5%;
        border: 1px solid #2F2C41;
    }
}
@media screen and (min-width: 700px) and (max-width: 1000px){
    .imgdata{
        height: 30vh;
    }
    .data{
        height: 30vh;
        width: 100vw;
        background-image: url(../images/banner1.png);
    }
    .datahead{
        margin-bottom: -4%;
        font-weight: 600;
    }
    .datadata{
        font-weight: 500;
    }
    .image2{
        display: none;
    }
    main{
        margin-top: 10vh;
    }
    .aboutimg{
        scale: 1.5;
    }
    .anim{
        overflow-y: hidden;
        align-items: center;
    }
    .animtext{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .animtext1,.animtext2,.animtext3{
        height: 35vh;
        display: flex;
        align-items: center;
    }
}